.email{
    .try__box{
        max-width: 400px;
    }
    .try__btn{
        padding: 16px 33px 17px 32px;
                        background: #000000;
                        border-radius: 0px 200px 200px 0px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FFFFFF;
                        text-align: center;
    }
    .try__2{
        padding-top: 25px;
        padding-bottom: 26px;
        background: #DCE5E2;
        border: 1px solid #000000;
        border-radius: 54px 0px 0px 54px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    
    }
    padding-bottom: 19px;
    .container{
        background-color: #DCE5E2;
        max-width: 935px;
        border-radius: 16px;
        padding-bottom: 43px;

        h2{
            @include titel-stack;
            padding-bottom: 9px;
            padding-top: 47px
        }
        p{
            @include sub-titel;
            padding-bottom: 14px;
        }
        .email__content{
            .email__content-img{
                padding-bottom: 14px;
                max-width: 233px;
                height: 200px;
            }
        }
        .email__form{
          
            form{
                .email_form{
                    padding: 16px 184px 17px 32px;
                    background: #DCE5E2;
                    border: 1px solid #000000;
                    border-radius: 54px 0px 0px 54px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
                .email__btn{
                    .btn{
                        padding: 16px 33px 17px 32px;
                        background: #000000;
                        border-radius: 0px 200px 200px 0px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FFFFFF;
                        text-align: center;
                    }
                }
            }
        }
    }
}