.items{
    padding-top: 53px;
    padding-bottom: 28px;
    .container{
        h3{
            @include titel-stack;
        }
        h4{
            @include sub-titel;
            padding-bottom: 31px;
        }
        .items__content{
 
            .item__content-box{
                @include max-screen(767px){

                    
                }
                .card{
                    .img__box{
                        padding-left:  28px;
                        padding-bottom: 33px;
                        width: 247px;
                        height: 214px;
                        @include max-screen (767px){
                            padding-left: 0px;
                            padding-bottom: 0px;
                        }
                    }
                    .card-body{
                        h5{
                            font-family: 'Readex Pro';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 28px;
                            color: #000000;
                            padding-bottom: 9px;
                            @include max-screen (767px){
                                text-align: center;
                            }
                        }
                        p{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #4B4B4B;
                            padding-bottom: 8px;
                            @include max-screen (767px){
                                text-align: center;
                            }
                        }
                        .card__prise{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}