.phone__slide{
    .owl-carousel {
        .owl-nav {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: space-between;
    
          button.owl-prev {
            border: solid;
            border-width: 0 2px 2px 0;
            display: inline-block;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            color: #000000;
            position: absolute;
            top: -284px;
            left: 20px;
            padding: 7px;
            width: 13px;
            height: 13px;
          }
    
          button.owl-next {
            border: solid;
            border-width: 0 2px 2px 0;
            display: inline-block;
            transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
            color: #000000;
            position: absolute;
            top: -284px;
            right: 20px;
            padding: 7px;
            width: 13px;
            height: 13px;
          }
        }
    
        .owl-dots {
          width: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          bottom: 34px;
          overflow: hidden;
        }
    
        button.owl-dot {
          border-bottom: solid 2px #000000;
          width: 194px;
          margin: 0 17px;
          padding: 6px 0;
        }
      }
    padding-top: 28px;
    padding-bottom: 28px;
    .container{
        
        .card__try{
            @include max-screen (765px){
                position: relative;
                overflow: hidden;
              
            }
            .card-body-try{
                @include max-screen (765px){
                    width: 100%;
                    height: 100%;
                    top: 0;
                    position: absolute;
                    background: linear-gradient(90deg, hsl(0 0% 100% / 0.1) 50%, rgba(64, 163, 248, 0.3) 50%);
                    backdrop-filter: blur(5px);
                    border-radius: 20px;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                  
                }
            }
        }
        background-color: #DCE5E2;
        border-radius: 40px;
        .phone__slide-img{
            background-image: url(../img/phone__slide/IMAGE.png);
            background-size: cover;
            background-position: center;
            border-radius: 40px;
            height: 100%;
            width: 647px;
            height: 550px;
        }
        .phone__slide-text{
           
            padding-top: 145px;
            padding-left: 56px;
            @include max-screen(765px){
                padding-top: 0px;
                padding-left: 0px;
            }
        }
        h1{
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 58px;
            line-height: 70px;
            padding-bottom: 19px;
            @include max-screen (1030px){
                font-size: 30px;
                line-height: 28px;
            }
            @include max-screen(900px){
                font-size: 30px;
            }
            @include max-screen (765px){
                color: white;
                line-height: 30px;
                text-align: center;
            }
        }
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            padding-bottom: 30px;
            @include max-screen(900px){
                font-size: 12px;
            }
            @include max-screen (765px){
                color: white;
                text-align: left;
                position: absolute;
                bottom: 0;
                text-align: center;
            }
        }
        .phone__slide-btn{
            @include max-screen (765px){
                display: flex;
                justify-content: center;
                padding-top: 20px;
            }
           a{
            padding: 14px 53px;
            border: 1px solid $main-color;
            border-radius: 200px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: #000000;
            @include max-screen (765px){
                color: white;
                border: 2px solid;
                border-image: linear-gradient(90deg, rgba(64, 163, 248, 0.7), hsl(0 0% 100% / 0.7)) 1;
                
            }
           }
        }
    }
}

