.search{
    .container{
        .search_container{
            h2{
                @include titel-stack;
            }
            nav{
                form{
                    .btn{
                        position: relative;
                        left: 55px;
                    }
                    input{
                        padding: 22px 476px 22px 67px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                    }
                }
            }
        }
    }
}