* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1300px;
}

li {
  list-style: none;
}

.navbar-collapse {
  flex-grow: inherit;
  align-items: center;
}

ul {
  margin: inherit;
}

li {
  list-style: none;
}

.navbar-light .navbar-nav .nav-link {
  color: hsl(0deg, 0%, 0%);
}

header {
  padding: 22px 0;
}
header nav ul .header-icon:first-of-type {
  margin-right: 29px;
}
header nav .nav-item:nth-child(1) {
  margin-right: 18px;
}
header nav .nav-item:nth-child(2) {
  margin-right: 19px;
}
header nav .nav-item:nth-child(3) {
  margin-right: 29px;
}
header nav .nav-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.idea {
  padding-top: 47px;
  padding-bottom: 24px;
}
.idea .container .idea-content {
  padding-bottom: 74px;
}
.idea .container .idea-content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding-bottom: 23px;
}
.idea .container h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
.idea .container h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  padding-bottom: 56px;
}
.idea .container .idea-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
}
.idea .container .idea-btn a::after {
  content: "";
  background-image: url(../img/idea/IMAGE.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 28px;
  position: relative;
  top: 5px;
}

.cards {
  padding-top: 28px;
  padding-bottom: 28px;
}
.cards .container h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
.cards .container h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 56px;
}
.cards .container .card__bloc .card__bloc-content {
  border: none;
  background-color: #F8F9FA;
  min-height: 453px;
  border-radius: 16px;
}
.cards .container .card__bloc .card__bloc-content .card-body {
  margin-top: 41px;
}
.cards .container .card__bloc .card__bloc-content .card-body p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.cards .container .card__bloc .card__bloc-content .card-body h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  padding-bottom: 30px;
}
.cards .container .card__bloc .card__bloc-content .card-body .card__btn {
  padding-bottom: 30px;
}
.cards .container .card__bloc .card__bloc-content .card-body .card__btn a {
  padding: 14px 63px;
  border: 1px solid hsl(0deg, 0%, 0%);
  border-radius: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}

.items {
  padding-top: 53px;
  padding-bottom: 28px;
}
.items .container h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
.items .container h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 31px;
}
.items .container .items__content .item__content-box .card .img__box {
  padding-left: 28px;
  padding-bottom: 33px;
  width: 247px;
  height: 214px;
}
@media screen and (max-width: 767px) {
  .items .container .items__content .item__content-box .card .img__box {
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.items .container .items__content .item__content-box .card .card-body h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .items .container .items__content .item__content-box .card .card-body h5 {
    text-align: center;
  }
}
.items .container .items__content .item__content-box .card .card-body p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  padding-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .items .container .items__content .item__content-box .card .card-body p {
    text-align: center;
  }
}
.items .container .items__content .item__content-box .card .card-body .card__prise {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.offers .container h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
@media screen and (max-width: 320px) {
  .offers .container h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 400px) {
  .offers .container h3 {
    font-size: 27px;
    line-height: 34px;
  }
}
.offers .container h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 56px;
}
@media screen and (max-width: 320px) {
  .offers .container h4 {
    padding-bottom: 20px;
  }
}
.offers .container .offers__box-first {
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}
.offers .container .offers__box-first .offers__box-first-mc {
  margin-bottom: 72px;
}
.offers .container .offers__box-first .offers__box-first-mc .img__box-first {
  padding-right: 97px;
  padding-left: 42px;
}
.offers .container .offers__box-first .offers__box-first-mc .card-body h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  padding-right: 42px;
}
.offers .container .offers__box-first .offers__box-first-mc .card-body p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  padding-right: 42px;
}
@media screen and (max-width: 320px) {
  .offers .container .offers__box-first .offers__box-first-mc .card-body p {
    font-size: 20px;
    line-height: 20px;
  }
}
.offers .container .offers__box-first .offers__box-second {
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}
.offers .container .offers__box-first .offers__box-second .row {
  padding-right: 42px;
  padding-left: 42px;
}
.offers .container .offers__box-first .offers__box-second .row .card-body h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  padding-top: 87px;
}
@media screen and (max-width: 760px) {
  .offers .container .offers__box-first .offers__box-second .row .card-body h5 {
    padding-top: 10px;
  }
}
.offers .container .offers__box-first .offers__box-second .row .card-body p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
@media screen and (max-width: 320px) {
  .offers .container .offers__box-first .offers__box-second .row .card-body p {
    font-size: 20px;
    line-height: 20px;
  }
}
.offers .container .offers__box-thierd {
  padding-top: 143px;
  margin-right: 16px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}
.offers .container .offers__box-thierd .card-body h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  padding-top: 41px;
}
.offers .container .offers__box-thierd .card-body p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 320px) {
  .offers .container .offers__box-thierd .card-body p {
    font-size: 20px;
    line-height: 20px;
  }
}
.offers .container .offers__box-four {
  padding-top: 115px;
  padding-bottom: 145px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}
.offers .container .offers__box-four .box-third-img {
  width: 465px;
  height: 367px;
}
.offers .container .offers__box-four .card-body h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.offers .container .offers__box-four .card-body p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 320px) {
  .offers .container .offers__box-four .card-body p {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 15px;
  }
}

.phone__slide {
  padding-top: 28px;
  padding-bottom: 28px;
}
.phone__slide .container {
  background-color: #DCE5E2;
  border-radius: 40px;
}
@media screen and (max-width: 765px) {
  .phone__slide .container .card__try {
    position: relative;
    overflow: hidden;
  }
}
@media screen and (max-width: 765px) {
  .phone__slide .container .card__try .card-body-try {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: linear-gradient(90deg, hsla(0deg, 0%, 100%, 0.1) 50%, rgba(64, 163, 248, 0.3) 50%);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.phone__slide .container .phone__slide-img {
  width: 647px;
  height: 550px;
}
.phone__slide .container .phone__slide-text {
  padding-top: 145px;
  padding-left: 56px;
}
@media screen and (max-width: 765px) {
  .phone__slide .container .phone__slide-text {
    padding-top: 0px;
    padding-left: 0px;
  }
}
.phone__slide .container h1 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  padding-bottom: 19px;
}
@media screen and (max-width: 900px) {
  .phone__slide .container h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 765px) {
  .phone__slide .container h1 {
    color: white;
    line-height: 30px;
    text-align: center;
  }
}
.phone__slide .container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 30px;
}
@media screen and (max-width: 765px) {
  .phone__slide .container p {
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
}
@media screen and (max-width: 765px) {
  .phone__slide .container .phone__slide-btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
.phone__slide .container .phone__slide-btn a {
  padding: 14px 53px;
  border: 1px solid hsl(0deg, 0%, 0%);
  border-radius: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}
@media screen and (max-width: 765px) {
  .phone__slide .container .phone__slide-btn a {
    color: white;
    border: 2px solid;
    -o-border-image: linear-gradient(90deg, rgba(64, 163, 248, 0.7), hsla(0deg, 0%, 100%, 0.7)) 1;
       border-image: linear-gradient(90deg, rgba(64, 163, 248, 0.7), hsla(0deg, 0%, 100%, 0.7)) 1;
  }
}

.email {
  padding-bottom: 19px;
}
.email .container {
  background-color: #DCE5E2;
  border-radius: 16px;
  padding-bottom: 43px;
}
.email .container h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  padding-bottom: 9px;
  padding-top: 47px;
}
.email .container p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 14px;
}
.email .container .email__content .email__content-img {
  padding-bottom: 14px;
  max-width: 233px;
  height: 200px;
}
.email .container .email__form form .email_form {
  padding: 16px 184px 17px 32px;
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.email .container .email__form form .email__btn .btn {
  padding: 16px 33px 17px 32px;
  background: #000000;
  border-radius: 0px 200px 200px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
}

.search .container .search_container h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
.search .container .search_container nav form .btn {
  position: relative;
  left: 55px;
}
.search .container .search_container nav form input {
  padding: 22px 476px 22px 67px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}/*# sourceMappingURL=style.css.map */